<!DOCTYPE html>
<html>
<head>
	<title>{{ item.item }}</title>
	{% load staticfiles %}
	<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'css/index.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	{% for y in item %}
	<h1>{{ y.item }}</h1>
	{% endfor %}
	<p>Users who added this product/item under their wish list:</p>
	<ul>
		{% for x in item %}
		<li>{{ x.user.name }}</li>
		{% endfor %}
	</ul>
	

	<a href="/wish">Home</a>
	<a href="{% url 'login:logout' %}">Logout</a>

</body>
</html>